<!doctype html>
<html>
<head>
    <title>Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Recommendations.css') }}">
    <script src="{{ url_for('static',filename='JS/Reccom.js') }}"></script>
</head>
    <body>
    {% include('UserNameHader.html') %}
        <hr class="hr">
        <div class="grid-container">
            <div class="header" align="center">
                <h3>My Recommendations</h3>
            </div>
            <main>

            </main>
            <div class="backbutton" align="center">
                <button type="submit" class="Return" onclick="location.href='/'">Back to Home Page</button>
            </div>
        </div>


    </body>

</html>
